body{
    background-color: aquamarine;
}
img{
    width:60%;
    height:50%;
}
.container{
    display:flex;
    flex-direction: column;
}
h2{
    margin: 15px;
}
img{
     margin: 15px;
}
h3{
     margin: 15px;
}